<%
/**
 * @copyright Copyrights (C) 2023 Dorian Thivolle - All rights reserved.
 * @author Dorian Thivolle
 */
%>

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/public/css/style.css">

        <script type="importmap">
            {
                "imports": {
                    "three": "/libs/three/build/three.module.js",
                    "OrbitControls": "/libs/three/examples/jsm/controls/OrbitControls.js",
                    "GLTFLoader": "/libs/three/examples/jsm/loaders/GLTFLoader.js"
                }
            }
        </script>

        <title>UHA Museum</title>
    </head>

    <body>
        <section id="loader" class="hidden">
            <img src="/public/asset/loader.gif"/>
        </section>

        <section id="home">
            <div id="home-content">
                <img src="/public/asset/logo_uha.png" alt="UHA Museum Logo" height="200">
                <h1>Museum</h1>
                <p>Explore the campus 3D models</p>
                <button id="home-btn-explore">Explore</button>
            </div>
        </section>

        <section id="gallery" class="hidden">
            <p class="no-selection">Select a model</p>
            <div id="side-controls">
                <ul></ul>
            </div>
            <div id="core-wrapper">
                <div id="model-viewer"></div>
            </div>
            <div id="side-description">
                <div id="description-content">
                    <h1 id="description-title"></h1>
                    <pre id="description-text"></pre>
                    <p>
                        <a href="https://www.google.com/maps/search/campus+illberg+mulhouse/@47.7309633,7.3085111,16.3z?entry=ttu" target="_blank" rel="noopener noreferrer">See in maps →</a>
                    </p>
                </div>
            </div>
        </section>

        <script type="module" src="/public/js/main.js"></script>
    </body>

</html>